# Setting Data: Nobel Prize Winners 2017 - 2025

This notebook was used to manually input the names of all relevant (2017-2025) Nobel Prize winners and the corresponding year they were awarded the Nobel Memorial Prize in Economic Sciences. This information was then merged with the dataset output from Notebook 4, finalizing the dataset for analysis.

In [13]:
import pandas as pd
econ = pd.read_csv("../Data/economists_monthly_pageviews_2017_2025.csv")
econ[["qid", "name"]].drop_duplicates().head()

          qid                name
0     Q272731        Edith_Abbott
107   Q718581      Daron_Acemoglu
214  Q7001311     Nicola_Acocella
321  Q8073604          Zoltan_Acs
428   Q518021  Henry_Carter_Adams

In [14]:
nobel = pd.DataFrame(columns=[
    "qid",
    "name",
    "nobel_winner",
    "nobel_year"
])

In [15]:
def add_nobel_winner(df, qid, year):
    name = econ.loc[econ["qid"] == qid, "name"].iloc[0]
    return pd.concat([
        df,
        pd.DataFrame([{
            "qid": qid,
            "name": name,
            "nobel_winner": 1,
            "nobel_year": year
        }])
    ], ignore_index=True)

In [16]:
nobel = add_nobel_winner(nobel, "Q7174757", 2025) # Peter Howitt
nobel = add_nobel_winner(nobel, "Q376364", 2025) # Philippe Aghion 
nobel = add_nobel_winner(nobel, "Q2899100", 2025) # Joel Mokyr 
nobel = add_nobel_winner(nobel, "Q1461050", 2024) # Simon Johnson
nobel = add_nobel_winner(nobel, "Q718581", 2024) # Daron Acemoglu
nobel = add_nobel_winner(nobel, "Q1097475", 2023) # Claudia Goldin
nobel = add_nobel_winner(nobel, "Q24565948", 2022) # Philip H. Dybvig
nobel = add_nobel_winner(nobel, "Q201795", 2022) # Ben Bernanke
nobel = add_nobel_winner(nobel, "Q185871", 2022) # Douglas Diamond
nobel = add_nobel_winner(nobel, "Q921499", 2021) # Joshua Angrist
nobel = add_nobel_winner(nobel, "Q1173928", 2021) # David Card
nobel = add_nobel_winner(nobel, "Q1359990", 2020) # Paul Milgrom
nobel = add_nobel_winner(nobel, "Q1635006", 2019) # Michael Kremer
nobel = add_nobel_winner(nobel, "Q434509", 2019) # Esther Duflo
nobel = add_nobel_winner(nobel, "Q320578", 2019) # Abhijit Banerjee
nobel = add_nobel_winner(nobel, "Q562481", 2018) # William Nordhaus
nobel = add_nobel_winner(nobel, "Q509262", 2018) # Paul Romer
nobel = add_nobel_winner(nobel, "Q371212", 2017) # Richard Thaler

nobel

          qid                       name nobel_winner nobel_year
0    Q7174757   Peter_Howitt_(economist)            1       2025
1     Q376364            Philippe_Aghion            1       2025
2    Q2899100                 Joel_Mokyr            1       2025
3    Q1461050  Simon_Johnson_(economist)            1       2024
4     Q718581             Daron_Acemoglu            1       2024
5    Q1097475             Claudia_Goldin            1       2023
6   Q24565948           Philip_H._Dybvig            1       2022
7     Q201795               Ben_Bernanke            1       2022
8     Q185871            Douglas_Diamond            1       2022
9     Q921499             Joshua_Angrist            1       2021
10   Q1173928                 David_Card            1       2021
11   Q1359990               Paul_Milgrom            1       2020
12   Q1635006             Michael_Kremer            1       2019
13    Q434509               Esther_Duflo            1       2019
14    Q320578           Abhijit_Banerjee            1       2019
15    Q562481           William_Nordhaus            1       2018
16    Q509262                 Paul_Romer            1       2018
17    Q371212             Richard_Thaler            1       2017

In [19]:
nobel.to_csv("../Data/nobel_economists.csv", index=False)